header{
    font-family: 'Lilita One', cursive;
    font-size: 66px;

}

html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 1%;
}
