body{
    background-color: rgb(236, 67, 153);
}

.title{
   font-size: 350px; text-align: center; 
   color: rgb(128, 0, 75); 
   font-family: 'Barbie', sans-serif;
}


.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

p{
    color: white ;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
}

.verse{
    color: rgb(128, 0, 75); 
    font-weight: bold;
}

.subtitle{
    font-size: 45px;
     color: rgb(128, 0, 75); 
    text-align: center;
    font-family: 'Barbie';

}